{% extends 'Strings/base_layout.html' %}
{% load static %}

{% block content %}
 <!-- Content Column -->

  {% for k,v in data.items  %}
 <div class="col-lg-12 mb-4">

    <!-- Project Card Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">
                {{k}}
            </h6>
        </div>
        <div class="card-body">
            {{v}}
        </div>
    </div>
</div>
{% endfor %}
<div>
</div>

{% endblock %}